
.background-red {
    background-color: indianred;
    min-height: 100vh;
}

.background-blue {
    background-color: deepskyblue;
    min-height: 100vh;
}

.title {
    color: white !important;
    line-height: normal;
    max-width: 90vw;
    display: block;

    font-size: 800% !important;
    font-weight: bold;
}

.title-2 {
    color: white !important;
    line-height: normal;
    max-width: 90vw;
    display: block;
    font-size: 600% !important;
    font-weight: bold;
}

.title-3 {
    color: white !important;
    line-height: normal;
    max-width: 90vw;
    display: block;

    font-size: 300% !important;
    font-weight: bold;
}

.subtitle {
    display: block;
    color: white !important;
    line-height: normal;
    max-width: 90vw;

    font-size: 400% !important;
    font-style: italic;
    font-weight: normal;
}

.subtitle-1 {
    display: block;
    color: white !important;
    line-height: normal;
    max-width: 90vw;

    font-size: 400% !important;
    font-style: italic;
    font-weight: normal;
}

#egg {
    max-width: 90vw;
}
