<!--<div class="mat-typography">-->
    <!--<h1 class="display-1">Oof</h1>-->
<!--</div>-->
<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-button class="display-1" routerLink="/">
        <span>Boiled Egg</span>
    </button>
    <span class="spacer"></span>
    <button mat-button style="font-size: 2rem; padding: 0; min-width: 0;">
        <i class="fab fa-instagram"></i>
    </button>
</mat-toolbar>
<mat-sidenav-container class="mat-app-background">
    <mat-sidenav #sidenav mode="over" [opened]="!mobileUser">
        <mat-list>
            <h3 mat-subheader>Main Menu</h3>
            <mat-list-item>
                <mat-icon mat-list-icon>home</mat-icon>
                <h4 mat-line>Home</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Subheader</h3>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
